.collection__grid {
    display: flex;
    gap: 42px 5px;
    flex-wrap: wrap;
    flex-direction: row;
}
.custom-collection__grid product-card.product-card {
    padding: 10px;
    gap: 24px;
    background: #fff;
    max-width: calc(33% - 5px);
    width: 100%;
}

.custom-collection__grid .product-card__actions {
    border-radius: 12px;
    overflow: hidden;
}

.custom-collection__grid .product-card__actions .product-card__media {
    position: relative;
    z-index: 0;
    aspect-ratio: 53 / 48;
    padding-top: 20px;
}

.custom-collection__grid .product-card__actions .product-card__media img{
    width: 85%;
    margin: 0 auto;
}

span.cstm-product_tag {
    position: absolute;
    top: 17px;
    left: 50%;
    transform: translatex(-50%);
    font-family: PP Formula;
    font-weight: 700;
    font-size: 52px;
    line-height: 100%;
    letter-spacing: 1px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #000;
    max-width: 100%;
    width: 100%;
}

.product-card .product-card__info {
    gap: 8px;
}

.product-card .product-card__info .product-card__title span {
    font-family: PP Formula;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0;
    vertical-align: middle;
    text-transform: uppercase;
    color: #000;
}

p.product-card__subtitle {
    font-family: GT Cinetype;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0;
    vertical-align: middle;
    color: #000;
    margin: 0;
}


ul.product-card_icons-list {
    padding: 18px 0;
    border-top: 0.5px solid #00000033;
    border-bottom: 0.5px solid #00000033;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

li.product-card_icons-item {
    display: flex;
    align-items: center;
    gap: 12px;
}

span.product-card_icons-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

span.product-card_icons-icon img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

span.product-card_icons-text {
    font-family: GT Cinetype;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.08px;
    letter-spacing: 0;
    vertical-align: middle;
    color: #404040;
}

.button.product-card__add-to-cart--button {
    border: 1px solid #000000!important;
    background: #000!important;
    color: #fff;
    padding: 10px 16px;
    border-radius: 75px;
    position: relative;
    max-width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

span.buy-button__text {
    font-family: GT Cinetype;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #fff;
    flex: 1;
}

.button.product-card__add-to-cart--button:before {
    display: none !important;
}

select.product-card__variant-select {
    border: none;
    max-width: 100%;
    width: 100%;
    background: transparent;
    padding: 12px 16px;
    font-family: GT Cinetype;
    font-weight: 700;
    font-size: 14px;
    line-height: 19.08px;
    letter-spacing: 0;
    vertical-align: middle;
    color: #000;
    outline: none;
    box-shadow: none;
    appearance: none;
    cursor: pointer;
    z-index: 1;
    position: relative;
}

select.product-card__variant-select::after{
    content: '';
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    pointer-events: none;
}

.collection-card__varients {
    position: relative;
    cursor: pointer;
    background: #faf7ed;
    border: 1px solid #090909;
    border-radius: 72px;
    display: flex;
    align-items: center;
}
span.collection-card__icon {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    right: 20px;
    width: 15px;
    height: auto;
}

span.collection-card__icon svg {
    width: 100%;
    height: 100%;
    display: block;
}

form.product-card__add-to-cart--form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.collection-card__variant-tag {
    background: #C3FFDE;
    position: absolute;
    top: 50%;
    /* right: 23%; */
    right: auto;
    left: 45%;
    transform: translatey(-50%);
    padding: 3px 6px;
    border-radius: 5px;
    font-family: GT Cinetype;
    font-weight: 700;
    font-size: 14px;
    line-height: 19.08px;
    letter-spacing: 0;
    vertical-align: middle;
    color: #000;
    text-transform: uppercase;
}

.product-card .product-card__content {
    gap: 18px !important;
}

.product-card .product-card__info {
    gap: 8px;
}

span.buy-button__icon {
    width: 50px;
    height: 36px;
    flex-shrink: 0;
}

span.buy-button__icon svg {
    width: 100%;
    height: 100%;
    display: block;
}

.collection__inner {
    flex-direction: column;
}

.collection__header.custom-collection__header {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    max-width: 100%;
    width: 100%;
}

h2.custom-collection__title {
    font-family: PP Formula;
    font-weight: 700;
    font-size: 60px;
    line-height: 66px;
    letter-spacing: 1px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #000;
    margin: 0;
}

.collection_blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.collection_blocks__inner {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

a.collection_blocks__item {
    border: 1px solid #000000;
    padding: 10px 20px;
    border-radius: 48px;
    font-family: GT Cinetype;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
    color: #000;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.3s;
    text-transform: uppercase;
}

a.collection_blocks__item.active,
a.collection_blocks__item:hover {
    background: #000;
    color: #fff;
}

/* *========== Collection Toggle ========== */

.collection-subscribe-toggle-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

label.collection-subscribe-toggle {
    cursor: pointer;
}

.subscribe-toggle__switch {
    width: 55px;
    height: 24px;
    display: block;
    background: #FAF7ED;
    border-radius: 999px;
    position: relative;
    transition: all 0.3s ease;
    border: 1px solid #CCCCCC;
}

.subscribe-toggle__dot {
    width: 16px;
    height: 16px;
    background: #CCCCCC;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 5px;
    transition: all 0.3s ease;
    transform: translatey(-50%);
}

span.subscribe-toggle__text {
    font-family: GT Cinetype;
    font-weight: 600;
    font-size: 14px;
    line-height: 19.8px;
    letter-spacing: 0;
    vertical-align: middle;
    color: #454545;
}

label.collection-subscribe-toggle input:checked + .subscribe-toggle__switch {
  background: #00000055;
} 

label.collection-subscribe-toggle input:checked + .subscribe-toggle__switch .subscribe-toggle__dot {
  right: 5px;
  left: auto;
  background: #000
}

.collection-card__varients_none {
    display: none !important;
}

/* ==== hover show second image ===== */

.product-card__media.product-card__media--hoverable img.hover-img{
    opacity: 0 !important;
}

.custom-collection__grid .product-card__actions .product-card__media img{
    opacity: 1 !important;
}

.product-card__media.product-card__media--hoverable{
    transition: all 0.3s ease !important;
}

.custom-collection__grid .product-card__actions .product-card__media > img:nth-child(2) {
    display: none !important;
}

@media (hover: hover) {
  .is--hovering .product-card__media.product-card__media--hoverable img:first-child {
    z-index: 1;
    opacity: 1 !important;
  }

  .is--hovering .product-card__media.product-card__media--hoverable img:last-child {
    z-index: 0;
    opacity: 0 !important;
  }

  .is--hovering .product-card__media.product-card__media--hoverable img.hover-img{
    opacity: 0 !important;
}

}

@media screen and (max-width: 768px){

.custom-collection__grid product-card.product-card {
    gap: 20px;
    padding: 0 8px;
    max-width: 100%;
}

.collection__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 28px 5px;
}

span.cstm-product_tag {
    top: 17px;
    font-size: 42px;
}

.product-card .product-card__info {
    gap: 6px;
}

.product-card .product-card__info .product-card__title span {
    font-size: 28px;
    line-height: 100%;
}

p.product-card__subtitle {
    font-size: 15px;
    line-height: 20px;
}

ul.product-card_icons-list {
    padding: 14px 0;
    gap: 6px;
}

li.product-card_icons-item {
    gap: 10px;
}

span.product-card_icons-icon {
    width: 20px;
    height: 20px;
}

span.product-card_icons-text {
    font-size: 12px;
    line-height: 15.08px;
}

.product-card .product-card__content {
    gap: 14px !important;
}

form.product-card__add-to-cart--form {
    gap: 8px;
}

select.product-card__variant-select {
    font-size: 12px;
    line-height: 15.08px;
}

span.buy-button__text {
    font-size: 14px;
}

span.buy-button__icon {
    width: 40px;
    height: 30px;
}

h2.custom-collection__title {
    font-size: 36px;
    line-height: 40px;
}

.collection__header.custom-collection__header {
    gap: 14px;
}

.collection_blocks__inner {
    justify-content: center;
}

a.collection_blocks__item {
    padding: 7px 15px;
    font-size: 14px;
    line-height: 14px;
}


}